alias npr="npm run"
alias nps="npm start"
alias npd="npm run dev"
alias npb="npm run build"
alias nixswitch="nix run nix-darwin --extra-experimental-features \"nix-command flakes\" -- switch --flake $HOME/.config/nix-darwin#book"
alias nx="darwin-rebuild switch --flake $HOME/.config/nix-darwin#book"
alias dft="-c diff.external=difft diff"
alias dlog="-c diff.external=difft log --ext-diff"
alias dshow="-c diff.external=difft show --ext-diff"
alias ddiff="-c diff.external=difft diff"
alias dl="-c diff.external=difft log -p --ext-diff"
alias ds="-c diff.external=difft show --ext-diff"
alias dft="-c diff.external=difft diff"
